.profile .auth__info {
  cursor: pointer;
}
.profile .auth__input {
  max-height: 2.5rem;
}

.profile__user {
  max-width: 740px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.profile__avatar {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 3rem 0 2rem 0;
}
.profile__avatar-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
